/* Joshua Ceres
Week 2 Practice
*/

/* Body of the Page Font and Font Type */
body{
    font-family: Arial,Verdana, sans-serif;
}
/* Main paragraphs frame */
#container{
    border: 1px solid #665544;
    background-color: #efefef;
    padding: 10px;
}

/* Headings color changed */
h1,h2{
    color: #ee3e80
}

/* Changed Paragraph Color */
#container p{
    color: #665544
}

/* Anything within ID= Container with strong element will be green */
#container strong{
    color: green;
}

/* Anything within ID= Container with sem element will be violet */
#container em{
    color: violet;
}