/*
Joshua Ceres
Landing Page
MiU
B1 Week 1
*/
/*----------------------------Body/Wrapper----------------------------------------------------------*/
body{
    width: 100%;
    background-color: rgba(255, 255, 255, .9);      /* RBGA Opacity set at 90% or .9 */
    font-size: 85%;
    font-family: helvetica, arial, sans-serif;
    color: rgb(38, 50, 72);
    margin-top: 0;
}

#wrapper{
    width:47.32%;
    margin: 0 auto;
    padding: 1%;
    box-shadow:         0 0 5px #7E8AA2;

}


/*-------------------------------------------  Header -------------------------------------------------------*/

header{
    border-bottom: 1px solid #7E8AA2; /*changes color of border under project name*/
}
h1{
    margin-top: 0;
    padding-top: 10px;
}
h2{
    margin-top: 20px;
}

/*-------------------------------------------  Main and Sec Floated Top-------------------------------------------------------*/
.main{

    overflow: auto;
    /*border-bottom: 1px solid #bbb8bf;*/
}
.main p{
    width: 67.5%;
    float: left;
    font-size: 1.4em;

}
.main figure{
    float: right;
    margin: 15px 0 20px 0;
    width: 30%;

}
figure img{
    width: 100%;
}
.sec{
    clear: both;
    margin-top: 40px;

}

/*-------------------------------------------  table -------------------------------------------------------*/
table{
    background: #f7f7f9;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #FF9800;
}
tr{
    display: table-row;
    border: 1px solid #FF9800;
}
.odd{
    background: #7E8AA2; /*changes color of the stripes table*/
}
th{
    text-align: left;
    padding: 1em 1em .5em;
    font-weight: bold;
    font-size: 120%;
    color: #FF9800;  /*changes color of table hd text*/
    background: #263248; /*changes color of table hd background*/
}
th:first-child{
    /*border-right: 1px solid #6a7680;*/
}
td{
    padding: 1em 1em;
    width: 69%;
    border: 1px solid #FF9800;
}
td:first-child{
    /*border-right: 1px solid #6a7680;*/
}

/*-------------------------------------------  footer-------------------------------------------------------*/
footer{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-top: 1px solid #7E8AA2;

}