/*--------------------Practice Code and Copied Code incase I erase---------------*/





ul.cssSeasons, ul.cssSeasons ul
{
    list-style:none;
    margin:0; padding:0;
    position: relative;
}

ul.cssSeasons ul
{
    display:none; /*initially menu item is hidden*/
    position: absolute; /*absolute positioning is important for menu to float*/
}

/* Hover effect for menu*/
ul.cssSeasons li:hover > ul
{
    display:block;
}

/* adjusted background to make it a smaller block */
h1{
    display: block;
    width: 725px;
    height: 60px;
    padding: 2px;
    box-shadow: 5px 5px 2.5px #3D3223
}

/* @font face from Google Fonts */
h1{
    font-family: Ubuntu Mono;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
}

/* Changed background to a block with brown color and solid border */
h2{
    display: block;
    width: 175px;
    height: 28px;
    border: 2px solid #831B0D;
    padding: 2px;
}
/* Stack font-families to give choices for multiple search engine support */
h2{
    font-weight: normal;
    font-size: 1.2em;
    font-family: Gill Sans, Arial, or sans-serif;
    text-align: center;
    text-transform: uppercase;

}

/* took away border edges and made rounded
 */h3{
       display: block;
       width: 175px;
       height: 30px;
       border: 2px solid #831B0D;
       border-radius: 25px;
       padding: 2px 2px 7px;
       margin: 30px;
   }

h3{
    font-weight: normal;
    font-size: 1.5em;
    font-family: Gill Sans, Arial, or sans-serif;
    text-align: center;
}

/* Paragraphs Text Coloring */
p{
    font-family: Arial, Verdana, or sans-serif;
    text-align: left;
    line-height: 1.5em;
    color: #965210;
}
/* Added Paragraph width so I could modify with Margins */
p{
    width: 1417px;
}

/* Modified margins for paragraph to auto align */
p{
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
}

div.figure1{
    width: 30%;
    margin: 0.5em;
    padding: 0.5em;
}

div.figure1 p{
    text-align: center;
    font-style: italic;
    font-family: Arial, Verdana, or sans-serif;
    color: #965210;

}

/*----------------------------------Season Heading Drop Down Menu Link--------------------------*/

/* Drop down Menu for Season */
ul.cssSeasons, ul.cssSeasons ul
{
    list-style:none;
    margin:5px; padding:5px;
    position: relative;
    font-size: 17px;
    font-family: Arial, Verdana, or sans-serif;
    text-align: center;


}

ul.cssSeasons ul
{
    display:none; /*initially menu item is hidden*/
    position: absolute; /*absolute positioning is important for menu to float*/
}

ul.cssSeasons li:link > ul
{
    color: #FF0000;
}
/* Hover effect for menu*/
ul.cssSeasons li:hover > ul
{
    display:inline;
}
ul.cssSeasons li
{
    position: relative;
    width: 90px;
    height: 18px;
    background: #967C57;
}
/* unvisited link */
a:link
{
    color: #FF0000;
}

/* visited link */
a:visited
{
    color: #00FF00;
}

/* mouse over link */
a:hover
{
    color: #FF00FF;
}

/* selected link */
a:active
{
    color: #0000FF;
}

/*-------I got this code from:

https://hacks.mozilla.org/2012/02/a-simple-image-gallery-using-only-css-and-the-target-selector/

-------*/

nav {
    padding: 20px;
    z-index: 20;
    top: 5px;
    left: 5px;
    background-color: rgb(150,124,87);
    position: absolute;
}

nav li{
    display: inline;
    padding-top: 1em;
    padding-right: 1em;

}

nav a {
    background-color: #965210;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover, nav a:focus {
    background: #036;
}

@media screen and (min-width: 400px) {

    .gallery {
        position: relative;
        height: 280px;
        width: 440px;
        overflow: hidden;
    }
    .target {
        position: absolute;
        top: 60px;
        left: -320px;
        height: 220px;
        width: 300px;
    }
    .target:target {
        top: 60px;
        left: 20px;

    }
}

/*---------END of Nav Bar for Image Gallery-------*/

/* Form Register */
fieldset {
    width: 310px;
    margin-top: 20px;
    border: 1px solid #d6d6d6;
    background-color: #ffffff;
    line-height: 1.6em;
}

legend {
    font-style: italic;
    color: #666666;
}

.title {
    float: left;
    width: 160px;
    clear: left;
}

label {
    cursor: default;
}

input[type="text"] {
    width: 120px;
    border: 1px solid #d6d6d6;
    padding: 2px;
    outline: none;
}

select, input[type="color"][list] {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(166, 166, 166);
    /*
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial; */
}
select {
   /* -webkit-appearance: menulist; */
    box-sizing: border-box;
    align-items: center;
    border: 1px solid;
    /*
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial; */
    white-space: pre;
    /*-webkit-rtl-ordering: logical;*/
    color: black;
    background-color: white;
    cursor: default;
}
select {
    border-radius: 5px;
}
textarea, keygen, select, button {
    margin: 0;
    font: -webkit-small-control;
    color: #ffffff;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}
/*
textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
*/
input[type="radio"] {
    /* -webkit-appearance: radio; */
    box-sizing: border-box;
}

input[type="radio"], input[type="checkbox"] {
    margin: 3px 0.5ex;
    padding: 0;
    background-color: #ffffff;
    border: 0;
}
/* Example from messing around in HTML5 Inspect Element */
body {
    width: 1200px;
    height: 2800px;
    text-align: left;
    /* margin: auto 0; */
    /* margin: 50px auto 50px auto; */
}

/*----------------Full Div BG Scaled to Div size in Photoshop, so there would be no repeat image-------------*/
/* I wanted to try and make one huge background with a boarded wall then have windows for backgrounds o the paragraphs but
   I didn't like the way it looked

#Season-1, #Season-2, #Season-3, #Season-4, #Season-5{
    float: left;
    width: 300px;
    margin: 10px;
    clear: left;
}

/*
div{
    background-image: url('../images/woodboard-charred.jpg');
}

#main{
    background-image: url("../images/woodboard-charred1.jpg");
}
*/
