/*
Joshua Ceres
DWS2 Week 1
February 2015
*/
/*-----------------------------------------Body/Wrapper-------------------------------------------------------*/
body{
    width: 100%; /* 1397px */
    background-color: rgba(255, 255, 255, .9);      /* RBGA Opacity set at 90% or .9 */
    font-size: .85em;
    font-family: helvetica, arial, sans-serif;
    color: rgb(38, 50, 72);
    margin-top: 0;
}

#wrapper{
    width: 68.7186%; /* 960px / 1397px */
    margin: 0 auto;
    padding: 1%;
    box-shadow: 0 0 5px #7E8AA2;
}

/*-------------------------------------------  header -------------------------------------------------------*/

header{
    border-bottom: .1em solid #bbb8bf; /*changes color of border under project name*/
}
h1{
    margin-top: 0;
    padding-top: 1em;
}
h2{
    margin-top: 2em;
}

/*-------------------------------------------  Main and Sec Floated Top----------------------------------------*/
.main{

    overflow: auto;
    /*border-bottom: 1px solid #bbb8bf;*/
}
.main p{
    width: 50%;
    float: left;
    font-size: 1.4em;

}
.main figure{
    float: right;
    margin: 15px 0 20px 0;
    width: 45%;

}
figure img{
    width: 100%;
}
.sec{
    clear: both;
    margin-top: 40px;

}

/*-------------------------------------------  footer-------------------------------------------------------*/
footer{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-top: 1px solid #7E8AA2;

}