/*
Joshua Ceres
DWS2 Week 1
February 2015
*/
/*-----------------------------------------Body/Wrapper-------------------------------------------------------*/
body{
    width: 100%; /* 1397px */
    background: #E74C3C;
    font-size: .85em;
    font-family: helvetica, arial, sans-serif;
    margin-top: 0;
}

#wrapper{
    width: 68.7186%; /* 960px / 1397px */
    margin: 0 auto;
    padding: 1%;
    box-shadow: 0 0 .5em #8A2D24;
    background: #ECF0F1;
}

/*-------------------------------------------  header -------------------------------------------------------*/

header{
    border-bottom: .1em solid #2C3E50; /*changes color of border under project name*/
}
h1{
    padding: 1%;
    width: 98%;
    color: #ECF0F1;
    background: #2C3E50;
}
h2{
    padding: 1%;
    width: 45%;
    color: #ECF0F1;
    background: #2C3E50;
}

/*-------------------------------------------  Main and Gallery Floated----------------------------------------*/
.main{

    overflow: auto;
    /*border-bottom: 1px solid #bbb8bf;*/
}

.main{
    float: left;
    width: 46.875%;
    padding: 1%;
    clear: left;
}
.main p{
    width: 100%;
    float: left;
    font-size: 1em;
}

.gallery{
    float: right;
    width: 46.875%;
    padding: 1%;
    clear: right;
}

/*
figure img{
    width: 100%;
}
.sec{
    clear: both;
    margin-top: 4em;


.main figure{
    float: right;
    margin: 1.5em 0 2em 0;
    width: 45%;
}
    */

/*-------------------------------------------  footer-------------------------------------------------------*/
footer{
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1%;
    width: 98%;
    color: #ECF0F1;
    background: #2C3E50;
    text-align: center;
    border-top: .1em solid #2C3E50;

}